M-Sec_Node-RED/node-red-data/flows.json
[{"id":"9cf00604.d1cdf8","type":"tab","label":"フロー 6","disabled":false,"info":""},{"id":"f1536654.1831f8","type":"tab","label":"Converted Controller","disabled":false},{"id":"flow_name","type":"tab","label":"Converted Controller","disabled":false},{"id":"927d6efa.8f5a8","type":"tab","label":"Converted Controller","disabled":false},{"id":"72f7ec93.384e74","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"284013da.155aac","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"299e8bde.acef04","type":"sox-credentials","nickname":"Default","bosh":"http://ssm-soxfire.ht.sfc.keio.ac.jp:5280/http-bind/","xmpp":"ssm-soxfire.ht.sfc.keio.ac.jp"},{"id":"3f8af5d.53ac50a","type":"sox-credentials","nickname":"Sample","bosh":"http://ssm-soxfire.ht.sfc.keio.ac.jp:5280/http-bind/","xmpp":"ssm-soxfire.ht.sfc.keio.ac.jp"},{"id":"619260b.6473ba","type":"http in","z":"f1536654.1831f8","name":"get_request","url":"/Node-RED","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["5693e544.5d298c"]]},{"id":"5693e544.5d298c","type":"function","z":"f1536654.1831f8","name":"extract_request","func":"var req = msg.payload;\n msg.payload = req['req'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":150,"wires":[["ce89c93c.37ba78"]]},{"id":"ce89c93c.37ba78","type":"change","z":"f1536654.1831f8","name":"set_flow_action","rules":[{"t":"set","p":"action","pt":"flow","to":"payload","tot":"msg"}],"reg":false,"x":200,"y":200,"wires":[["419e35b3.c70dac"]]},{"id":"419e35b3.c70dac","type":"http response","z":"f1536654.1831f8","name":"response_request","x":200,"y":250,"wires":[]},{"id":"2370cf59.ab77c","type":"inject","z":"f1536654.1831f8","name":"init","repeat":"","crontab":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","x":500,"y":100,"wires":[["d8016df.d03a79"]]},{"id":"d8016df.d03a79","type":"change","z":"f1536654.1831f8","name":"set_init_state","rules":[{"t":"set","p":"action","pt":"flow","to":"null","tot":"str"}],"reg":false,"x":500,"y":150,"wires":[["1c7e1a66.012b16"]]},{"id":"1c7e1a66.012b16","type":"function","z":"f1536654.1831f8","name":"Q0","func":"flow.set(\"State\", \"Q0\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":200,"wires":[["4a25e2b.b41271c"]]},{"id":"4a25e2b.b41271c","type":"switch","z":"f1536654.1831f8","name":"Q0_check","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":250,"wires":[["87a6053f.6cf428"],["1c7e1a66.012b16"]]},{"id":"87a6053f.6cf428","type":"function","z":"f1536654.1831f8","name":"Q1","func":"flow.set(\"State\", \"Q1\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["c5bda08d.adb6d"]]},{"id":"c5bda08d.adb6d","type":"function","z":"f1536654.1831f8","name":"resRoomStatus_set","func":"msg.payload = \"resRoomStatus\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":300,"wires":[["7a42a471.37ff4c"]]},{"id":"7a42a471.37ff4c","type":"http request","z":"f1536654.1831f8","name":"resRoomStatus","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/resRoomStatus/with/key/cPFBtMhxOsUhT968fhqXb9","tls":"","persist":false,"proxy":"","authType":"","x":1100,"y":300,"wires":[["8ba99269.21e95"]]},{"id":"8ba99269.21e95","type":"function","z":"f1536654.1831f8","name":"Q2","func":"flow.set(\"State\", \"Q2\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":350,"wires":[["9f7666dd.9ad9b8"]]},{"id":"9f7666dd.9ad9b8","type":"function","z":"f1536654.1831f8","name":"allow_A_set","func":"msg.payload = \"allow_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":350,"wires":[["26eec2e.5fb6b3e"]]},{"id":"26eec2e.5fb6b3e","type":"http request","z":"f1536654.1831f8","name":"allow_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1100,"y":350,"wires":[["94fffc14.3970d"]]},{"id":"94fffc14.3970d","type":"function","z":"f1536654.1831f8","name":"Q3","func":"flow.set(\"State\", \"Q3\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":400,"wires":[["c62e9aa1.b95548"]]},{"id":"c62e9aa1.b95548","type":"switch","z":"f1536654.1831f8","name":"Q3_check","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"arrive_A[1]","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":450,"wires":[["b02b5fc6.43f4f"],["94fffc14.3970d"]]},{"id":"b02b5fc6.43f4f","type":"function","z":"f1536654.1831f8","name":"Q4","func":"flow.set(\"State\", \"Q4\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":500,"wires":[["ebb96f2.6e15d9"]]},{"id":"ebb96f2.6e15d9","type":"switch","z":"f1536654.1831f8","name":"Q4_check","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqOut","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":550,"wires":[["492103f0.1a0a1c"],["2c1c6d2.bee4492"],["b02b5fc6.43f4f"]]},{"id":"492103f0.1a0a1c","type":"function","z":"f1536654.1831f8","name":"Q5","func":"flow.set(\"State\", \"Q5\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":600,"wires":[["adf7dbd5.2ce248"]]},{"id":"adf7dbd5.2ce248","type":"function","z":"f1536654.1831f8","name":"lock_A_set","func":"msg.payload = \"lock_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":600,"wires":[["5498f761.482138"]]},{"id":"5498f761.482138","type":"http request","z":"f1536654.1831f8","name":"lock_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/lock_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1100,"y":600,"wires":[["5a65bb46.bb70e4"]]},{"id":"5a65bb46.bb70e4","type":"function","z":"f1536654.1831f8","name":"Q6","func":"flow.set(\"State\", \"Q6\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":650,"wires":[["c5bda08d.adb6d"]]},{"id":"ee9a59c0.df8ab8","type":"function","z":"f1536654.1831f8","name":"Q7","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":700,"wires":[["f2d07a8c.6cb418"]]},{"id":"f2d07a8c.6cb418","type":"function","z":"f1536654.1831f8","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":700,"wires":[["d8366789.205f48"]]},{"id":"d8366789.205f48","type":"http request","z":"f1536654.1831f8","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1100,"y":700,"wires":[["ef15c49.1fb6b38"]]},{"id":"ef15c49.1fb6b38","type":"function","z":"f1536654.1831f8","name":"Q8","func":"flow.set(\"State\", \"Q8\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":750,"wires":[["30460dcd.d274c2"]]},{"id":"30460dcd.d274c2","type":"switch","z":"f1536654.1831f8","name":"Q8_check","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"leave","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":800,"wires":[["6a5572aa.5a237c"],["ef15c49.1fb6b38"]]},{"id":"6a5572aa.5a237c","type":"function","z":"f1536654.1831f8","name":"Q9","func":"flow.set(\"State\", \"Q9\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":850,"wires":[["3f69c0cb.b5bbb"]]},{"id":"3f69c0cb.b5bbb","type":"switch","z":"f1536654.1831f8","name":"Q9_check","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":900,"wires":[["17027285.66d26d"],["6a5572aa.5a237c"]]},{"id":"17027285.66d26d","type":"function","z":"f1536654.1831f8","name":"Q10","func":"flow.set(\"State\", \"Q10\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":950,"wires":[["89e10f43.8b716"]]},{"id":"89e10f43.8b716","type":"function","z":"f1536654.1831f8","name":"unLock_A_set","func":"msg.payload = \"unLock_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":950,"wires":[["140d3516.c801cb"]]},{"id":"140d3516.c801cb","type":"http request","z":"f1536654.1831f8","name":"unLock_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/unLock_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1100,"y":950,"wires":[["7e2c15c8.0296ac"]]},{"id":"7e2c15c8.0296ac","type":"function","z":"f1536654.1831f8","name":"Q11","func":"flow.set(\"State\", \"Q11\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":1000,"wires":[["c5bda08d.adb6d"]]},{"id":"2c1c6d2.bee4492","type":"function","z":"f1536654.1831f8","name":"Q12","func":"flow.set(\"State\", \"Q12\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":1050,"wires":[["adf7dbd5.2ce248"]]},{"id":"9670bfd5.a434a","type":"function","z":"f1536654.1831f8","name":"Q13","func":"flow.set(\"State\", \"Q13\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":1100,"wires":[["c5bda08d.adb6d"]]},{"id":"361f3b46.25f134","type":"function","z":"f1536654.1831f8","name":"Q14","func":"flow.set(\"State\", \"Q14\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":1150,"wires":[["449583ca.b0193c"]]},{"id":"449583ca.b0193c","type":"function","z":"f1536654.1831f8","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1150,"wires":[["147b98ce.cdb687"]]},{"id":"147b98ce.cdb687","type":"http request","z":"f1536654.1831f8","name":"deny_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1100,"y":1150,"wires":[["9e68939d.6ed94"]]},{"id":"9e68939d.6ed94","type":"function","z":"f1536654.1831f8","name":"Q15","func":"flow.set(\"State\", \"Q15\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":1200,"wires":[["a9fe7a48.3069f8"]]},{"id":"a9fe7a48.3069f8","type":"switch","z":"f1536654.1831f8","name":"Q15_check","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"notEnter","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1250,"wires":[["9d3ca755.b76e28"],["9e68939d.6ed94"]]},{"id":"9d3ca755.b76e28","type":"function","z":"f1536654.1831f8","name":"Q16","func":"flow.set(\"State\", \"Q16\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":1300,"wires":[["d44827c1.4178f8"]]},{"id":"d44827c1.4178f8","type":"switch","z":"f1536654.1831f8","name":"Q16_check","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqOut","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":1350,"wires":[["a551d3d8.a59db"],["24354eab.34ced2"],["9d3ca755.b76e28"]]},{"id":"a551d3d8.a59db","type":"function","z":"f1536654.1831f8","name":"Q17","func":"flow.set(\"State\", \"Q17\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":1400,"wires":[["c5bda08d.adb6d"]]},{"id":"24354eab.34ced2","type":"function","z":"f1536654.1831f8","name":"Q18","func":"flow.set(\"State\", \"Q18\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":500,"y":1450,"wires":[["c5bda08d.adb6d"]]},{"id":"ca8b4700.0097e8","type":"Subscribe","z":"9cf00604.d1cdf8","name":"Subscribe Device","action":"deploy","device":"testNode1","transducer":"","login":"299e8bde.acef04","x":190,"y":100,"wires":[["2605e58a.faac3a"]]},{"id":"2605e58a.faac3a","type":"debug","z":"9cf00604.d1cdf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":100,"wires":[]},{"id":"c3d2fc2.5bb8c","type":"comment","z":"9cf00604.d1cdf8","name":"subscribe sample","info":"Log in as の欄のペンマークを押下\nサーバ名とログイン情報を記載する\n\nサーバ名:ssm-soxfire.ht.sfc.keio.ac.jp\n(sox.ht.sfc.keio.ac.jp - down中　すみません…)\n\nユーザ名: sampleuser01\nパスワード: msec2020\n\nDevice名にSubscribeするノード名を記入\nsample: testNode1\n\nもし、Transduserを指定したい場合は\nTransduser欄で指定する\n(複数指定はできないようです)\ntestNode1が持つTransduserは下記の通り\nlatitude\nlongitude\nvalue\n","x":100,"y":40,"wires":[]},{"id":"dda8c50.b6cba38","type":"inject","z":"9cf00604.d1cdf8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":280,"wires":[["4a524498.217d8c"]]},{"id":"4a524498.217d8c","type":"function","z":"9cf00604.d1cdf8","name":"","func":"\nfunction createJson(){\n    json = {\n        \"longitude\":100,\n        \"latitude\":50,\n        \"value\":\"sample value\"\n    }\n    return json\n}\n\nmsg.transducer = createJson();\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["3950d4fe.772f0c"]]},{"id":"3950d4fe.772f0c","type":"Publish","z":"9cf00604.d1cdf8","name":"Publish","device":"testNode1","login":"299e8bde.acef04","x":540,"y":280,"wires":[["78121216.a965cc"]]},{"id":"78121216.a965cc","type":"debug","z":"9cf00604.d1cdf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":280,"wires":[]},{"id":"d685752f.b8a178","type":"comment","z":"9cf00604.d1cdf8","name":"publish sample","info":"\npublic nodeの設定についてはsubscribe nodeの設定方法と同じため割愛\n\npublishする場合は、\nmsgオブジェクトのtransducerに値を格納していないとpublishされないため、\nfunctionなどでjson形式に整形した上で\nmsg.transducerに格納してreturn msgで\nmsgオブジェクトごとoutputしてください。\npublishに成功した場合その後ろのdebug nodenのmsg.payloadで\"success\"が吐き出されます","x":100,"y":240,"wires":[]},{"id":"get_request","type":"http in","z":"flow_name","name":"get_request","url":"/Node-RED","method":"get","upload":false,"x":200,"y":100,"wires":[["extract_request"]]},{"id":"extract_request","type":"function","z":"flow_name","name":"extract_request","func":"var req = msg.payload;\n msg.payload = req['req'];\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":150,"wires":[["set_flow_action"]]},{"id":"set_flow_action","type":"change","z":"flow_name","name":"set_flow_action","rules":[{"t":"set","p":"action","pt":"flow","to":"payload","tot":"msg"}],"reg":false,"x":200,"y":200,"wires":[["response_request"]]},{"id":"response_request","type":"http response","z":"flow_name","name":"response_request","x":200,"y":250,"wires":[]},{"id":"init","type":"inject","z":"flow_name","name":"init","repeat":"","crontab":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","x":700,"y":100,"wires":[["set_init_state"]]},{"id":"set_init_state","type":"change","z":"flow_name","name":"set_init_state","rules":[{"t":"set","p":"action","pt":"flow","to":"null","tot":"str"}],"reg":false,"x":700,"y":150,"wires":[["Q0"]]},{"id":"Q0","type":"function","z":"flow_name","name":"Q0","func":"flow.set(\"State\", \"Q0\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":200,"wires":[["Q0_check_request"]]},{"id":"Q0_check_request","type":"switch","z":"flow_name","name":"Q0: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":275,"wires":[["Q1"],["Q0_delay"]]},{"id":"Q0_delay","type":"delay","z":"flow_name","name":"delay 100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":200,"wires":[["Q0"]]},{"id":"Q1","type":"function","z":"flow_name","name":"Q1","func":"flow.set(\"State\", \"Q1\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":350,"wires":[["Q1_set"]]},{"id":"Q1_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"deny_A\", \"allow_A[1]\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":350,"wires":[["Q1_check_operation"]]},{"id":"Q1_check_operation","type":"switch","z":"flow_name","name":"Q1: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"allow_A[1]","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":350,"wires":[["Q1_deny_A_set"],["Q1_allow_A[1]_set"]]},{"id":"Q1_deny_A_set","type":"function","z":"flow_name","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":350,"wires":[["Q1_deny_A"]]},{"id":"Q1_deny_A","type":"http request","z":"flow_name","name":"deny_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":350,"wires":[["Q0"]]},{"id":"Q1_allow_A[1]_set","type":"function","z":"flow_name","name":"allow_A[1]_set","func":"msg.payload = \"allow_A[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":390,"wires":[["Q1_allow_A[1]"]]},{"id":"Q1_allow_A[1]","type":"http request","z":"flow_name","name":"allow_A[1]","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_A[1]/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":390,"wires":[["Q2"]]},{"id":"Q2","type":"function","z":"flow_name","name":"Q2","func":"flow.set(\"State\", \"Q2\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["Q2_check_request"]]},{"id":"Q2_check_request","type":"switch","z":"flow_name","name":"Q2: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":515,"wires":[["Q3"],["Q17"],["Q2_delay"]]},{"id":"Q2_delay","type":"delay","z":"flow_name","name":"delay 100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":440,"wires":[["Q2"]]},{"id":"Q3","type":"function","z":"flow_name","name":"Q3","func":"flow.set(\"State\", \"Q3\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":590,"wires":[["Q3_check_request"]]},{"id":"Q3_check_request","type":"switch","z":"flow_name","name":"Q3: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":665,"wires":[["Q16"],["Q3_wait"]]},{"id":"Q3_wait","type":"function","z":"flow_name","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":740,"wires":[["Q3_check_time"]]},{"id":"Q3_check_time","type":"switch","z":"flow_name","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":740,"wires":[["Q3_set"],["Q3"]]},{"id":"Q3_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"deny_B\", \"allow_B[1]\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":740,"wires":[["Q3_check_operation"]]},{"id":"Q3_check_operation","type":"switch","z":"flow_name","name":"Q3: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_B","vt":"str"},{"t":"eq","v":"allow_B[1]","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":740,"wires":[["Q3_deny_B_set"],["Q3_allow_B[1]_set"]]},{"id":"Q3_deny_B_set","type":"function","z":"flow_name","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":740,"wires":[["Q3_deny_B"]]},{"id":"Q3_deny_B","type":"http request","z":"flow_name","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":740,"wires":[["Q2"]]},{"id":"Q3_allow_B[1]_set","type":"function","z":"flow_name","name":"allow_B[1]_set","func":"msg.payload = \"allow_B[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":780,"wires":[["Q3_allow_B[1]"]]},{"id":"Q3_allow_B[1]","type":"http request","z":"flow_name","name":"allow_B[1]","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_B[1]/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":780,"wires":[["Q4"]]},{"id":"Q4","type":"function","z":"flow_name","name":"Q4","func":"flow.set(\"State\", \"Q4\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":830,"wires":[["Q4_check_request"]]},{"id":"Q4_check_request","type":"switch","z":"flow_name","name":"Q4: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqOut","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":905,"wires":[["Q5"],["Q15"],["Q4_delay"]]},{"id":"Q4_delay","type":"delay","z":"flow_name","name":"delay 100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":830,"wires":[["Q4"]]},{"id":"Q5","type":"function","z":"flow_name","name":"Q5","func":"flow.set(\"State\", \"Q5\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":980,"wires":[["Q5_check_request"]]},{"id":"Q5_check_request","type":"switch","z":"flow_name","name":"Q5: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1055,"wires":[["Q6"],["Q5_wait"]]},{"id":"Q5_wait","type":"function","z":"flow_name","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":1130,"wires":[["Q5_check_time"]]},{"id":"Q5_check_time","type":"switch","z":"flow_name","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1130,"wires":[["Q5_set"],["Q5"]]},{"id":"Q5_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"allow_Out\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":1130,"wires":[["Q5_check_operation"]]},{"id":"Q5_check_operation","type":"switch","z":"flow_name","name":"Q5: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"allow_Out","vt":"str"},{"t":"eq","v":"deny_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":1130,"wires":[["Q5_allow_Out_set"],["Q5_deny_Out_set"]]},{"id":"Q5_allow_Out_set","type":"function","z":"flow_name","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1130,"wires":[["Q5_allow_Out"]]},{"id":"Q5_allow_Out","type":"http request","z":"flow_name","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1130,"wires":[["Q0"]]},{"id":"Q5_deny_Out_set","type":"function","z":"flow_name","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1170,"wires":[["Q5_deny_Out"]]},{"id":"Q5_deny_Out","type":"http request","z":"flow_name","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1170,"wires":[["Q4"]]},{"id":"Q6","type":"function","z":"flow_name","name":"Q6","func":"flow.set(\"State\", \"Q6\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":1220,"wires":[["Q6_set"]]},{"id":"Q6_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"allow_Out\", \"deny_A\", \"allow_A[1]\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 4);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":1220,"wires":[["Q6_check_operation"]]},{"id":"Q6_check_operation","type":"switch","z":"flow_name","name":"Q6: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"allow_Out","vt":"str"},{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"allow_A[1]","vt":"str"},{"t":"eq","v":"deny_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1100,"y":1220,"wires":[["Q6_allow_Out_set"],["Q6_deny_A_set"],["Q6_allow_A[1]_set"],["Q6_deny_Out_set"]]},{"id":"Q6_allow_Out_set","type":"function","z":"flow_name","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1220,"wires":[["Q6_allow_Out"]]},{"id":"Q6_allow_Out","type":"http request","z":"flow_name","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1220,"wires":[["Q1"]]},{"id":"Q6_deny_A_set","type":"function","z":"flow_name","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1260,"wires":[["Q6_deny_A"]]},{"id":"Q6_deny_A","type":"http request","z":"flow_name","name":"deny_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1260,"wires":[["Q5"]]},{"id":"Q6_allow_A[1]_set","type":"function","z":"flow_name","name":"allow_A[1]_set","func":"msg.payload = \"allow_A[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1300,"wires":[["Q6_allow_A[1]"]]},{"id":"Q6_allow_A[1]","type":"http request","z":"flow_name","name":"allow_A[1]","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_A[1]/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1300,"wires":[["Q7"]]},{"id":"Q6_deny_Out_set","type":"function","z":"flow_name","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1340,"wires":[["Q6_deny_Out"]]},{"id":"Q6_deny_Out","type":"http request","z":"flow_name","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1340,"wires":[["Q15"]]},{"id":"Q7","type":"function","z":"flow_name","name":"Q7","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":1390,"wires":[["Q7_check_request"]]},{"id":"Q7_check_request","type":"switch","z":"flow_name","name":"Q7: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":1465,"wires":[["Q13"],["Q14"],["Q7_wait"]]},{"id":"Q7_wait","type":"function","z":"flow_name","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":1540,"wires":[["Q7_check_time"]]},{"id":"Q7_check_time","type":"switch","z":"flow_name","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1540,"wires":[["Q7_set"],["Q7"]]},{"id":"Q7_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"allow_Out\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":1540,"wires":[["Q7_check_operation"]]},{"id":"Q7_check_operation","type":"switch","z":"flow_name","name":"Q7: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"allow_Out","vt":"str"},{"t":"eq","v":"deny_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":1540,"wires":[["Q7_allow_Out_set"],["Q7_deny_Out_set"]]},{"id":"Q7_allow_Out_set","type":"function","z":"flow_name","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1540,"wires":[["Q7_allow_Out"]]},{"id":"Q7_allow_Out","type":"http request","z":"flow_name","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1540,"wires":[["Q2"]]},{"id":"Q7_deny_Out_set","type":"function","z":"flow_name","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1580,"wires":[["Q7_deny_Out"]]},{"id":"Q7_deny_Out","type":"http request","z":"flow_name","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1580,"wires":[["Q8"]]},{"id":"Q8","type":"function","z":"flow_name","name":"Q8","func":"flow.set(\"State\", \"Q8\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":1630,"wires":[["Q8_check_request"]]},{"id":"Q8_check_request","type":"switch","z":"flow_name","name":"Q8: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqOut","vt":"str"},{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":700,"y":1705,"wires":[["Q7"],["Q9"],["Q12"],["Q8_delay"]]},{"id":"Q8_delay","type":"delay","z":"flow_name","name":"delay 100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1630,"wires":[["Q8"]]},{"id":"Q9","type":"function","z":"flow_name","name":"Q9","func":"flow.set(\"State\", \"Q9\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":1780,"wires":[["Q9_check_request"]]},{"id":"Q9_check_request","type":"switch","z":"flow_name","name":"Q9: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"eq","v":"reqOut","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":1855,"wires":[["Q10"],["Q13"],["Q9_wait"]]},{"id":"Q9_wait","type":"function","z":"flow_name","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":1930,"wires":[["Q9_check_time"]]},{"id":"Q9_check_time","type":"switch","z":"flow_name","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1930,"wires":[["Q9_set"],["Q9"]]},{"id":"Q9_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"deny_B\");\n var rnd = Math.floor( Math.random() * 1);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":1930,"wires":[["Q9_check_operation"]]},{"id":"Q9_check_operation","type":"switch","z":"flow_name","name":"Q9: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_B","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":1930,"wires":[["Q9_deny_B_set"]]},{"id":"Q9_deny_B_set","type":"function","z":"flow_name","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1930,"wires":[["Q9_deny_B"]]},{"id":"Q9_deny_B","type":"http request","z":"flow_name","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1930,"wires":[["Q8"]]},{"id":"Q10","type":"function","z":"flow_name","name":"Q10","func":"flow.set(\"State\", \"Q10\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":1980,"wires":[["Q10_check_request"]]},{"id":"Q10_check_request","type":"switch","z":"flow_name","name":"Q10: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqOut","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2055,"wires":[["Q11"],["Q10_wait"]]},{"id":"Q10_wait","type":"function","z":"flow_name","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":2130,"wires":[["Q10_check_time"]]},{"id":"Q10_check_time","type":"switch","z":"flow_name","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2130,"wires":[["Q10_set"],["Q10"]]},{"id":"Q10_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"deny_A\", \"deny_B\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":2130,"wires":[["Q10_check_operation"]]},{"id":"Q10_check_operation","type":"switch","z":"flow_name","name":"Q10: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"deny_B","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":2130,"wires":[["Q10_deny_A_set"],["Q10_deny_B_set"]]},{"id":"Q10_deny_A_set","type":"function","z":"flow_name","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2130,"wires":[["Q10_deny_A"]]},{"id":"Q10_deny_A","type":"http request","z":"flow_name","name":"deny_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2130,"wires":[["Q9"]]},{"id":"Q10_deny_B_set","type":"function","z":"flow_name","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2170,"wires":[["Q10_deny_B"]]},{"id":"Q10_deny_B","type":"http request","z":"flow_name","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2170,"wires":[["Q12"]]},{"id":"Q11","type":"function","z":"flow_name","name":"Q11","func":"flow.set(\"State\", \"Q11\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":2220,"wires":[["Q11_set"]]},{"id":"Q11_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"deny_Out\", \"deny_A\", \"deny_B\", \"allow_Out\");\n var rnd = Math.floor( Math.random() * 4);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":2220,"wires":[["Q11_check_operation"]]},{"id":"Q11_check_operation","type":"switch","z":"flow_name","name":"Q11: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_Out","vt":"str"},{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"deny_B","vt":"str"},{"t":"eq","v":"allow_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1100,"y":2220,"wires":[["Q11_deny_Out_set"],["Q11_deny_A_set"],["Q11_deny_B_set"],["Q11_allow_Out_set"]]},{"id":"Q11_deny_Out_set","type":"function","z":"flow_name","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2220,"wires":[["Q11_deny_Out"]]},{"id":"Q11_deny_Out","type":"http request","z":"flow_name","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2220,"wires":[["Q10"]]},{"id":"Q11_deny_A_set","type":"function","z":"flow_name","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2260,"wires":[["Q11_deny_A"]]},{"id":"Q11_deny_A","type":"http request","z":"flow_name","name":"deny_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2260,"wires":[["Q13"]]},{"id":"Q11_deny_B_set","type":"function","z":"flow_name","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2300,"wires":[["Q11_deny_B"]]},{"id":"Q11_deny_B","type":"http request","z":"flow_name","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2300,"wires":[["Q14"]]},{"id":"Q11_allow_Out_set","type":"function","z":"flow_name","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2340,"wires":[["Q11_allow_Out"]]},{"id":"Q11_allow_Out","type":"http request","z":"flow_name","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2340,"wires":[["Q16"]]},{"id":"Q12","type":"function","z":"flow_name","name":"Q12","func":"flow.set(\"State\", \"Q12\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":2390,"wires":[["Q12_check_request"]]},{"id":"Q12_check_request","type":"switch","z":"flow_name","name":"Q12: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"eq","v":"reqOut","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":2465,"wires":[["Q10"],["Q14"],["Q12_wait"]]},{"id":"Q12_wait","type":"function","z":"flow_name","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":2540,"wires":[["Q12_check_time"]]},{"id":"Q12_check_time","type":"switch","z":"flow_name","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2540,"wires":[["Q12_set"],["Q12"]]},{"id":"Q12_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"deny_A\");\n var rnd = Math.floor( Math.random() * 1);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":2540,"wires":[["Q12_check_operation"]]},{"id":"Q12_check_operation","type":"switch","z":"flow_name","name":"Q12: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":2540,"wires":[["Q12_deny_A_set"]]},{"id":"Q12_deny_A_set","type":"function","z":"flow_name","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2540,"wires":[["Q12_deny_A"]]},{"id":"Q12_deny_A","type":"http request","z":"flow_name","name":"deny_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2540,"wires":[["Q8"]]},{"id":"Q13","type":"function","z":"flow_name","name":"Q13","func":"flow.set(\"State\", \"Q13\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":2590,"wires":[["Q13_check_request"]]},{"id":"Q13_check_request","type":"switch","z":"flow_name","name":"Q13: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2665,"wires":[["Q11"],["Q13_wait"]]},{"id":"Q13_wait","type":"function","z":"flow_name","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":2740,"wires":[["Q13_check_time"]]},{"id":"Q13_check_time","type":"switch","z":"flow_name","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2740,"wires":[["Q13_set"],["Q13"]]},{"id":"Q13_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"allow_Out\", \"deny_B\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 3);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":2740,"wires":[["Q13_check_operation"]]},{"id":"Q13_check_operation","type":"switch","z":"flow_name","name":"Q13: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"allow_Out","vt":"str"},{"t":"eq","v":"deny_B","vt":"str"},{"t":"eq","v":"deny_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":2740,"wires":[["Q13_allow_Out_set"],["Q13_deny_B_set"],["Q13_deny_Out_set"]]},{"id":"Q13_allow_Out_set","type":"function","z":"flow_name","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2740,"wires":[["Q13_allow_Out"]]},{"id":"Q13_allow_Out","type":"http request","z":"flow_name","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2740,"wires":[["Q3"]]},{"id":"Q13_deny_B_set","type":"function","z":"flow_name","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2780,"wires":[["Q13_deny_B"]]},{"id":"Q13_deny_B","type":"http request","z":"flow_name","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2780,"wires":[["Q7"]]},{"id":"Q13_deny_Out_set","type":"function","z":"flow_name","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2820,"wires":[["Q13_deny_Out"]]},{"id":"Q13_deny_Out","type":"http request","z":"flow_name","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2820,"wires":[["Q9"]]},{"id":"Q14","type":"function","z":"flow_name","name":"Q14","func":"flow.set(\"State\", \"Q14\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":2870,"wires":[["Q14_check_request"]]},{"id":"Q14_check_request","type":"switch","z":"flow_name","name":"Q14: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2945,"wires":[["Q11"],["Q14_wait"]]},{"id":"Q14_wait","type":"function","z":"flow_name","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":3020,"wires":[["Q14_check_time"]]},{"id":"Q14_check_time","type":"switch","z":"flow_name","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":3020,"wires":[["Q14_set"],["Q14"]]},{"id":"Q14_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"deny_A\", \"deny_Out\", \"allow_Out\");\n var rnd = Math.floor( Math.random() * 3);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":3020,"wires":[["Q14_check_operation"]]},{"id":"Q14_check_operation","type":"switch","z":"flow_name","name":"Q14: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"deny_Out","vt":"str"},{"t":"eq","v":"allow_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":3020,"wires":[["Q14_deny_A_set"],["Q14_deny_Out_set"],["Q14_allow_Out_set"]]},{"id":"Q14_deny_A_set","type":"function","z":"flow_name","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3020,"wires":[["Q14_deny_A"]]},{"id":"Q14_deny_A","type":"http request","z":"flow_name","name":"deny_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3020,"wires":[["Q7"]]},{"id":"Q14_deny_Out_set","type":"function","z":"flow_name","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3060,"wires":[["Q14_deny_Out"]]},{"id":"Q14_deny_Out","type":"http request","z":"flow_name","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3060,"wires":[["Q12"]]},{"id":"Q14_allow_Out_set","type":"function","z":"flow_name","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3100,"wires":[["Q14_allow_Out"]]},{"id":"Q14_allow_Out","type":"http request","z":"flow_name","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3100,"wires":[["Q17"]]},{"id":"Q15","type":"function","z":"flow_name","name":"Q15","func":"flow.set(\"State\", \"Q15\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":3150,"wires":[["Q15_check_request"]]},{"id":"Q15_check_request","type":"switch","z":"flow_name","name":"Q15: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqOut","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":3225,"wires":[["Q6"],["Q15_wait"]]},{"id":"Q15_wait","type":"function","z":"flow_name","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":3300,"wires":[["Q15_check_time"]]},{"id":"Q15_check_time","type":"switch","z":"flow_name","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":3300,"wires":[["Q15_set"],["Q15"]]},{"id":"Q15_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"deny_A\", \"allow_A[1]\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":3300,"wires":[["Q15_check_operation"]]},{"id":"Q15_check_operation","type":"switch","z":"flow_name","name":"Q15: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"allow_A[1]","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":3300,"wires":[["Q15_deny_A_set"],["Q15_allow_A[1]_set"]]},{"id":"Q15_deny_A_set","type":"function","z":"flow_name","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3300,"wires":[["Q15_deny_A"]]},{"id":"Q15_deny_A","type":"http request","z":"flow_name","name":"deny_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3300,"wires":[["Q4"]]},{"id":"Q15_allow_A[1]_set","type":"function","z":"flow_name","name":"allow_A[1]_set","func":"msg.payload = \"allow_A[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3340,"wires":[["Q15_allow_A[1]"]]},{"id":"Q15_allow_A[1]","type":"http request","z":"flow_name","name":"allow_A[1]","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_A[1]/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3340,"wires":[["Q8"]]},{"id":"Q16","type":"function","z":"flow_name","name":"Q16","func":"flow.set(\"State\", \"Q16\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":3390,"wires":[["Q16_set"]]},{"id":"Q16_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"deny_A\", \"allow_B[1]\", \"deny_B\");\n var rnd = Math.floor( Math.random() * 3);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":3390,"wires":[["Q16_check_operation"]]},{"id":"Q16_check_operation","type":"switch","z":"flow_name","name":"Q16: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"allow_B[1]","vt":"str"},{"t":"eq","v":"deny_B","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":3390,"wires":[["Q16_deny_A_set"],["Q16_allow_B[1]_set"],["Q16_deny_B_set"]]},{"id":"Q16_deny_A_set","type":"function","z":"flow_name","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3390,"wires":[["Q16_deny_A"]]},{"id":"Q16_deny_A","type":"http request","z":"flow_name","name":"deny_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3390,"wires":[["Q3"]]},{"id":"Q16_allow_B[1]_set","type":"function","z":"flow_name","name":"allow_B[1]_set","func":"msg.payload = \"allow_B[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3430,"wires":[["Q16_allow_B[1]"]]},{"id":"Q16_allow_B[1]","type":"http request","z":"flow_name","name":"allow_B[1]","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_B[1]/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3430,"wires":[["Q15"]]},{"id":"Q16_deny_B_set","type":"function","z":"flow_name","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3470,"wires":[["Q16_deny_B"]]},{"id":"Q16_deny_B","type":"http request","z":"flow_name","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3470,"wires":[["Q17"]]},{"id":"Q17","type":"function","z":"flow_name","name":"Q17","func":"flow.set(\"State\", \"Q17\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":3520,"wires":[["Q17_check_request"]]},{"id":"Q17_check_request","type":"switch","z":"flow_name","name":"Q17: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":3595,"wires":[["Q16"],["Q17_wait"]]},{"id":"Q17_wait","type":"function","z":"flow_name","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":3670,"wires":[["Q17_check_time"]]},{"id":"Q17_check_time","type":"switch","z":"flow_name","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":3670,"wires":[["Q17_set"],["Q17"]]},{"id":"Q17_set","type":"function","z":"flow_name","name":"Modifiable Area","func":"var action = new Array(\"deny_A\");\n var rnd = Math.floor( Math.random() * 1);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":3670,"wires":[["Q17_check_operation"]]},{"id":"Q17_check_operation","type":"switch","z":"flow_name","name":"Q17: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":3670,"wires":[["Q17_deny_A_set"]]},{"id":"Q17_deny_A_set","type":"function","z":"flow_name","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3670,"wires":[["Q17_deny_A"]]},{"id":"Q17_deny_A","type":"http request","z":"flow_name","name":"deny_A","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3670,"wires":[["Q2"]]},{"id":"fec59364.0a5a4","type":"http in","z":"927d6efa.8f5a8","name":"get_request","url":"/Node-RED","method":"get","upload":false,"x":200,"y":100,"wires":[["1148e2fc.cf091d"]]},{"id":"1148e2fc.cf091d","type":"function","z":"927d6efa.8f5a8","name":"extract_request","func":"var req = msg.payload;\n msg.payload = req['req'];\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":150,"wires":[["3c4beba8.519004"]]},{"id":"3c4beba8.519004","type":"change","z":"927d6efa.8f5a8","name":"set_flow_action","rules":[{"t":"set","p":"action","pt":"flow","to":"payload","tot":"msg"}],"reg":false,"x":200,"y":200,"wires":[["5e4412e7.2fd64c"]]},{"id":"5e4412e7.2fd64c","type":"http response","z":"927d6efa.8f5a8","name":"response_request","x":200,"y":250,"wires":[]},{"id":"2d647e9f.aa0912","type":"inject","z":"927d6efa.8f5a8","name":"init","repeat":"","crontab":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","x":700,"y":100,"wires":[["f3e4d901.9534e8"]]},{"id":"f3e4d901.9534e8","type":"change","z":"927d6efa.8f5a8","name":"set_init_state","rules":[{"t":"set","p":"action","pt":"flow","to":"null","tot":"str"}],"reg":false,"x":700,"y":150,"wires":[["519e911e.eb156"]]},{"id":"519e911e.eb156","type":"function","z":"927d6efa.8f5a8","name":"Q0","func":"flow.set(\"State\", \"Q0\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":200,"wires":[["7c8a13be.638afc"]]},{"id":"7c8a13be.638afc","type":"switch","z":"927d6efa.8f5a8","name":"Q0: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":275,"wires":[["1026721a.a6a83e"],["6077089b.66c248"]]},{"id":"6077089b.66c248","type":"delay","z":"927d6efa.8f5a8","name":"delay 100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":200,"wires":[["519e911e.eb156"]]},{"id":"1026721a.a6a83e","type":"function","z":"927d6efa.8f5a8","name":"Q1","func":"flow.set(\"State\", \"Q1\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":350,"wires":[["73bdcef.ce00a3"]]},{"id":"73bdcef.ce00a3","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"deny_A\", \"allow_A[1]\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":350,"wires":[["e6bd79e3.5afbb8"]]},{"id":"e6bd79e3.5afbb8","type":"switch","z":"927d6efa.8f5a8","name":"Q1: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"allow_A[1]","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":350,"wires":[["32745c6.3ff91a4"],["b4f82ca6.389c8"]]},{"id":"32745c6.3ff91a4","type":"function","z":"927d6efa.8f5a8","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":350,"wires":[["e529d001.8214"]]},{"id":"e529d001.8214","type":"Publish","z":"927d6efa.8f5a8","name":"Publish","device":"testNode1","login":"299e8bde.acef04","x":1700,"y":350,"wires":[["519e911e.eb156"]]},{"id":"b4f82ca6.389c8","type":"function","z":"927d6efa.8f5a8","name":"allow_A[1]_set","func":"msg.payload = \"allow_A[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":390,"wires":[["da4fdd17.61c3"]]},{"id":"da4fdd17.61c3","type":"Subscribe","z":"927d6efa.8f5a8","name":"Subscribe Device","action":"deploy","device":"testNode1","transducer":"","login":"299e8bde.acef04","x":1700,"y":390,"wires":[["b0fe49bc.e22078"]]},{"id":"b0fe49bc.e22078","type":"function","z":"927d6efa.8f5a8","name":"Q2","func":"flow.set(\"State\", \"Q2\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["fc7ed92d.a27308"]]},{"id":"fc7ed92d.a27308","type":"switch","z":"927d6efa.8f5a8","name":"Q2: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":515,"wires":[["5d218a2.ff41e74"],["a20b49aa.192bb8"],["a8ae61c8.b4ffe"]]},{"id":"a8ae61c8.b4ffe","type":"delay","z":"927d6efa.8f5a8","name":"delay 100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":440,"wires":[["b0fe49bc.e22078"]]},{"id":"5d218a2.ff41e74","type":"function","z":"927d6efa.8f5a8","name":"Q3","func":"flow.set(\"State\", \"Q3\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":590,"wires":[["fb6344ac.4373a8"]]},{"id":"fb6344ac.4373a8","type":"switch","z":"927d6efa.8f5a8","name":"Q3: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":665,"wires":[["372d9e.391e6262"],["b04fb09e.4cd83"]]},{"id":"b04fb09e.4cd83","type":"function","z":"927d6efa.8f5a8","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":740,"wires":[["b6713dfb.0567a"]]},{"id":"b6713dfb.0567a","type":"switch","z":"927d6efa.8f5a8","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":740,"wires":[["82aec309.9debf"],["5d218a2.ff41e74"]]},{"id":"82aec309.9debf","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"deny_B\", \"allow_B[1]\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":740,"wires":[["54a632c1.9f06bc"]]},{"id":"54a632c1.9f06bc","type":"switch","z":"927d6efa.8f5a8","name":"Q3: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_B","vt":"str"},{"t":"eq","v":"allow_B[1]","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":740,"wires":[["10e0b18e.bf75ee"],["5e1f00f5.af48b"]]},{"id":"10e0b18e.bf75ee","type":"function","z":"927d6efa.8f5a8","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":740,"wires":[["347910e1.4aea"]]},{"id":"347910e1.4aea","type":"http request","z":"927d6efa.8f5a8","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":740,"wires":[["b0fe49bc.e22078"]]},{"id":"5e1f00f5.af48b","type":"function","z":"927d6efa.8f5a8","name":"allow_B[1]_set","func":"msg.payload = \"allow_B[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":780,"wires":[["e8860b05.d7d658"]]},{"id":"e8860b05.d7d658","type":"http request","z":"927d6efa.8f5a8","name":"allow_B[1]","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_B[1]/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":780,"wires":[["7bd92d9b.052104"]]},{"id":"7bd92d9b.052104","type":"function","z":"927d6efa.8f5a8","name":"Q4","func":"flow.set(\"State\", \"Q4\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":830,"wires":[["89a91236.63512"]]},{"id":"89a91236.63512","type":"switch","z":"927d6efa.8f5a8","name":"Q4: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqOut","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":905,"wires":[["fde9deb1.99456"],["f998b881.6c8d18"],["2c8b09be.ca1306"]]},{"id":"2c8b09be.ca1306","type":"delay","z":"927d6efa.8f5a8","name":"delay 100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":830,"wires":[["7bd92d9b.052104"]]},{"id":"fde9deb1.99456","type":"function","z":"927d6efa.8f5a8","name":"Q5","func":"flow.set(\"State\", \"Q5\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":980,"wires":[["e6757c6e.49125"]]},{"id":"e6757c6e.49125","type":"switch","z":"927d6efa.8f5a8","name":"Q5: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1055,"wires":[["c01b2918.28c088"],["60fb5ef7.6ee85"]]},{"id":"60fb5ef7.6ee85","type":"function","z":"927d6efa.8f5a8","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":1130,"wires":[["6eb489d1.071b98"]]},{"id":"6eb489d1.071b98","type":"switch","z":"927d6efa.8f5a8","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1130,"wires":[["25479e56.eb54f2"],["fde9deb1.99456"]]},{"id":"25479e56.eb54f2","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"allow_Out\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":1130,"wires":[["6dccfa4d.11c374"]]},{"id":"6dccfa4d.11c374","type":"switch","z":"927d6efa.8f5a8","name":"Q5: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"allow_Out","vt":"str"},{"t":"eq","v":"deny_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":1130,"wires":[["628e4854.a781d8"],["abb38f6e.fc07d"]]},{"id":"628e4854.a781d8","type":"function","z":"927d6efa.8f5a8","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1130,"wires":[["7e6e14e2.dad46c"]]},{"id":"7e6e14e2.dad46c","type":"http request","z":"927d6efa.8f5a8","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1130,"wires":[["519e911e.eb156"]]},{"id":"abb38f6e.fc07d","type":"function","z":"927d6efa.8f5a8","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1170,"wires":[["e05cee6b.21e15"]]},{"id":"e05cee6b.21e15","type":"http request","z":"927d6efa.8f5a8","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1170,"wires":[["7bd92d9b.052104"]]},{"id":"c01b2918.28c088","type":"function","z":"927d6efa.8f5a8","name":"Q6","func":"flow.set(\"State\", \"Q6\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":1220,"wires":[["9941db72.72d658"]]},{"id":"9941db72.72d658","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"allow_Out\", \"deny_A\", \"allow_A[1]\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 4);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":1220,"wires":[["a2167ff6.f72bb"]]},{"id":"a2167ff6.f72bb","type":"switch","z":"927d6efa.8f5a8","name":"Q6: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"allow_Out","vt":"str"},{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"allow_A[1]","vt":"str"},{"t":"eq","v":"deny_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1100,"y":1220,"wires":[["3cf45a10.0ad1b6"],["2b070732.3686b8"],["df39232.f61cee"],["8677ac5c.0a21b"]]},{"id":"3cf45a10.0ad1b6","type":"function","z":"927d6efa.8f5a8","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1220,"wires":[["8f43c223.b40d8"]]},{"id":"8f43c223.b40d8","type":"http request","z":"927d6efa.8f5a8","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1220,"wires":[["1026721a.a6a83e"]]},{"id":"2b070732.3686b8","type":"function","z":"927d6efa.8f5a8","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1260,"wires":[["3ff69738.240978"]]},{"id":"3ff69738.240978","type":"Publish","z":"927d6efa.8f5a8","name":"Publish","device":"testNode1","login":"299e8bde.acef04","x":1700,"y":1260,"wires":[["fde9deb1.99456"]]},{"id":"df39232.f61cee","type":"function","z":"927d6efa.8f5a8","name":"allow_A[1]_set","func":"msg.payload = \"allow_A[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1300,"wires":[["a64c2728.ec2a28"]]},{"id":"a64c2728.ec2a28","type":"Subscribe","z":"927d6efa.8f5a8","name":"Subscribe Device","action":"deploy","device":"testNode1","transducer":"","login":"299e8bde.acef04","x":1700,"y":1300,"wires":[["f475ee2f.a9fc8"]]},{"id":"8677ac5c.0a21b","type":"function","z":"927d6efa.8f5a8","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1340,"wires":[["65cd0a8c.875674"]]},{"id":"65cd0a8c.875674","type":"http request","z":"927d6efa.8f5a8","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1340,"wires":[["f998b881.6c8d18"]]},{"id":"f475ee2f.a9fc8","type":"function","z":"927d6efa.8f5a8","name":"Q7","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":1390,"wires":[["897e2832.038ab8"]]},{"id":"897e2832.038ab8","type":"switch","z":"927d6efa.8f5a8","name":"Q7: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":1465,"wires":[["d48e370.4c1d1c8"],["70ec7efd.4b493"],["3379ee9d.b0b252"]]},{"id":"3379ee9d.b0b252","type":"function","z":"927d6efa.8f5a8","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":1540,"wires":[["302fe8e7.3a7dd8"]]},{"id":"302fe8e7.3a7dd8","type":"switch","z":"927d6efa.8f5a8","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1540,"wires":[["b96f3a67.d9b4a8"],["f475ee2f.a9fc8"]]},{"id":"b96f3a67.d9b4a8","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"allow_Out\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":1540,"wires":[["5e07b5af.303f8c"]]},{"id":"5e07b5af.303f8c","type":"switch","z":"927d6efa.8f5a8","name":"Q7: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"allow_Out","vt":"str"},{"t":"eq","v":"deny_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":1540,"wires":[["ff8d6231.cbaf5"],["66211d.34b12ee4"]]},{"id":"ff8d6231.cbaf5","type":"function","z":"927d6efa.8f5a8","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1540,"wires":[["71f18fa1.841ff"]]},{"id":"71f18fa1.841ff","type":"http request","z":"927d6efa.8f5a8","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1540,"wires":[["b0fe49bc.e22078"]]},{"id":"66211d.34b12ee4","type":"function","z":"927d6efa.8f5a8","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1580,"wires":[["cf3ccfb.bbc143"]]},{"id":"cf3ccfb.bbc143","type":"http request","z":"927d6efa.8f5a8","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1580,"wires":[["634fe8e0.50b6f8"]]},{"id":"634fe8e0.50b6f8","type":"function","z":"927d6efa.8f5a8","name":"Q8","func":"flow.set(\"State\", \"Q8\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":1630,"wires":[["99efcfed.0dc84"]]},{"id":"99efcfed.0dc84","type":"switch","z":"927d6efa.8f5a8","name":"Q8: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqOut","vt":"str"},{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":700,"y":1705,"wires":[["f475ee2f.a9fc8"],["cd20fccb.08743"],["8e6006a.175f1f8"],["31a5ad96.da49f2"]]},{"id":"31a5ad96.da49f2","type":"delay","z":"927d6efa.8f5a8","name":"delay 100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1630,"wires":[["634fe8e0.50b6f8"]]},{"id":"cd20fccb.08743","type":"function","z":"927d6efa.8f5a8","name":"Q9","func":"flow.set(\"State\", \"Q9\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":1780,"wires":[["a3b046be.c722d8"]]},{"id":"a3b046be.c722d8","type":"switch","z":"927d6efa.8f5a8","name":"Q9: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"eq","v":"reqOut","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":1855,"wires":[["3b3d406d.bd1a6"],["d48e370.4c1d1c8"],["88f723cd.46669"]]},{"id":"88f723cd.46669","type":"function","z":"927d6efa.8f5a8","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":1930,"wires":[["afc4af09.57fb4"]]},{"id":"afc4af09.57fb4","type":"switch","z":"927d6efa.8f5a8","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1930,"wires":[["3e8264a.b38a49c"],["cd20fccb.08743"]]},{"id":"3e8264a.b38a49c","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"deny_B\");\n var rnd = Math.floor( Math.random() * 1);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":1930,"wires":[["c53ba8d2.69b358"]]},{"id":"c53ba8d2.69b358","type":"switch","z":"927d6efa.8f5a8","name":"Q9: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_B","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":1930,"wires":[["937666ab.b7a068"]]},{"id":"937666ab.b7a068","type":"function","z":"927d6efa.8f5a8","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1930,"wires":[["9e370b91.57a6c8"]]},{"id":"9e370b91.57a6c8","type":"http request","z":"927d6efa.8f5a8","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":1930,"wires":[["634fe8e0.50b6f8"]]},{"id":"3b3d406d.bd1a6","type":"function","z":"927d6efa.8f5a8","name":"Q10","func":"flow.set(\"State\", \"Q10\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":1980,"wires":[["7c0e69b2.8cd318"]]},{"id":"7c0e69b2.8cd318","type":"switch","z":"927d6efa.8f5a8","name":"Q10: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqOut","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2055,"wires":[["cff555b6.e187f8"],["74348a66.9acbe4"]]},{"id":"74348a66.9acbe4","type":"function","z":"927d6efa.8f5a8","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":2130,"wires":[["b69c737d.968ce"]]},{"id":"b69c737d.968ce","type":"switch","z":"927d6efa.8f5a8","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2130,"wires":[["daaeda30.31d5c8"],["3b3d406d.bd1a6"]]},{"id":"daaeda30.31d5c8","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"deny_A\", \"deny_B\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":2130,"wires":[["571d0a77.080d14"]]},{"id":"571d0a77.080d14","type":"switch","z":"927d6efa.8f5a8","name":"Q10: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"deny_B","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":2130,"wires":[["87230215.9a063"],["32a4723f.3d3bfe"]]},{"id":"87230215.9a063","type":"function","z":"927d6efa.8f5a8","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2130,"wires":[["aab096f5.733cb8"]]},{"id":"aab096f5.733cb8","type":"Publish","z":"927d6efa.8f5a8","name":"Publish","device":"testNode1","login":"299e8bde.acef04","x":1700,"y":2130,"wires":[["cd20fccb.08743"]]},{"id":"32a4723f.3d3bfe","type":"function","z":"927d6efa.8f5a8","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2170,"wires":[["2609937d.146dcc"]]},{"id":"2609937d.146dcc","type":"http request","z":"927d6efa.8f5a8","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2170,"wires":[["8e6006a.175f1f8"]]},{"id":"cff555b6.e187f8","type":"function","z":"927d6efa.8f5a8","name":"Q11","func":"flow.set(\"State\", \"Q11\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":2220,"wires":[["d9f89c60.2e642"]]},{"id":"d9f89c60.2e642","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"deny_Out\", \"deny_A\", \"deny_B\", \"allow_Out\");\n var rnd = Math.floor( Math.random() * 4);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":2220,"wires":[["18af830.0cea97d"]]},{"id":"18af830.0cea97d","type":"switch","z":"927d6efa.8f5a8","name":"Q11: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_Out","vt":"str"},{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"deny_B","vt":"str"},{"t":"eq","v":"allow_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1100,"y":2220,"wires":[["faa09e45.aa8bc"],["3bddf4c5.22c7cc"],["750fcbfb.c66644"],["29ec03d0.be2fcc"]]},{"id":"faa09e45.aa8bc","type":"function","z":"927d6efa.8f5a8","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2220,"wires":[["a35214b1.4cccc8"]]},{"id":"a35214b1.4cccc8","type":"http request","z":"927d6efa.8f5a8","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2220,"wires":[["3b3d406d.bd1a6"]]},{"id":"3bddf4c5.22c7cc","type":"function","z":"927d6efa.8f5a8","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2260,"wires":[["b34fc057.cd891"]]},{"id":"b34fc057.cd891","type":"Publish","z":"927d6efa.8f5a8","name":"Publish","device":"testNode1","login":"299e8bde.acef04","x":1700,"y":2260,"wires":[["d48e370.4c1d1c8"]]},{"id":"750fcbfb.c66644","type":"function","z":"927d6efa.8f5a8","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2300,"wires":[["bb17a2fa.f47d3"]]},{"id":"bb17a2fa.f47d3","type":"http request","z":"927d6efa.8f5a8","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2300,"wires":[["70ec7efd.4b493"]]},{"id":"29ec03d0.be2fcc","type":"function","z":"927d6efa.8f5a8","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2340,"wires":[["159a3f0f.ae1451"]]},{"id":"159a3f0f.ae1451","type":"http request","z":"927d6efa.8f5a8","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2340,"wires":[["372d9e.391e6262"]]},{"id":"8e6006a.175f1f8","type":"function","z":"927d6efa.8f5a8","name":"Q12","func":"flow.set(\"State\", \"Q12\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":2390,"wires":[["636432fc.cca20c"]]},{"id":"636432fc.cca20c","type":"switch","z":"927d6efa.8f5a8","name":"Q12: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"eq","v":"reqOut","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":2465,"wires":[["3b3d406d.bd1a6"],["70ec7efd.4b493"],["a3be3390.d4ab8"]]},{"id":"a3be3390.d4ab8","type":"function","z":"927d6efa.8f5a8","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":2540,"wires":[["a2589ac5.639f38"]]},{"id":"a2589ac5.639f38","type":"switch","z":"927d6efa.8f5a8","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2540,"wires":[["2516964a.bb68ea"],["8e6006a.175f1f8"]]},{"id":"2516964a.bb68ea","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"deny_A\");\n var rnd = Math.floor( Math.random() * 1);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":2540,"wires":[["3782d162.61b9ae"]]},{"id":"3782d162.61b9ae","type":"switch","z":"927d6efa.8f5a8","name":"Q12: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":2540,"wires":[["6aa6e29.759611c"]]},{"id":"6aa6e29.759611c","type":"function","z":"927d6efa.8f5a8","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2540,"wires":[["bc4e631b.113b2"]]},{"id":"bc4e631b.113b2","type":"Publish","z":"927d6efa.8f5a8","name":"Publish","device":"testNode1","login":"299e8bde.acef04","x":1700,"y":2540,"wires":[["634fe8e0.50b6f8"]]},{"id":"d48e370.4c1d1c8","type":"function","z":"927d6efa.8f5a8","name":"Q13","func":"flow.set(\"State\", \"Q13\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":2590,"wires":[["ab72ce35.3cbab"]]},{"id":"ab72ce35.3cbab","type":"switch","z":"927d6efa.8f5a8","name":"Q13: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2665,"wires":[["cff555b6.e187f8"],["19cc9980.d40187"]]},{"id":"19cc9980.d40187","type":"function","z":"927d6efa.8f5a8","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":2740,"wires":[["8b3f6873.778d58"]]},{"id":"8b3f6873.778d58","type":"switch","z":"927d6efa.8f5a8","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2740,"wires":[["78c581d4.f3ad8"],["d48e370.4c1d1c8"]]},{"id":"78c581d4.f3ad8","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"allow_Out\", \"deny_B\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 3);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":2740,"wires":[["bf39ee99.c7c3c"]]},{"id":"bf39ee99.c7c3c","type":"switch","z":"927d6efa.8f5a8","name":"Q13: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"allow_Out","vt":"str"},{"t":"eq","v":"deny_B","vt":"str"},{"t":"eq","v":"deny_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":2740,"wires":[["4b22911a.72187"],["a0a8e907.60cc68"],["10d76012.5a207"]]},{"id":"4b22911a.72187","type":"function","z":"927d6efa.8f5a8","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2740,"wires":[["680ad338.bba26c"]]},{"id":"680ad338.bba26c","type":"http request","z":"927d6efa.8f5a8","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2740,"wires":[["5d218a2.ff41e74"]]},{"id":"a0a8e907.60cc68","type":"function","z":"927d6efa.8f5a8","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2780,"wires":[["b8cafee1.18764"]]},{"id":"b8cafee1.18764","type":"http request","z":"927d6efa.8f5a8","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2780,"wires":[["f475ee2f.a9fc8"]]},{"id":"10d76012.5a207","type":"function","z":"927d6efa.8f5a8","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2820,"wires":[["1e65036d.d32e1d"]]},{"id":"1e65036d.d32e1d","type":"http request","z":"927d6efa.8f5a8","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":2820,"wires":[["cd20fccb.08743"]]},{"id":"70ec7efd.4b493","type":"function","z":"927d6efa.8f5a8","name":"Q14","func":"flow.set(\"State\", \"Q14\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":2870,"wires":[["5b5ba46c.4a819c"]]},{"id":"5b5ba46c.4a819c","type":"switch","z":"927d6efa.8f5a8","name":"Q14: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2945,"wires":[["cff555b6.e187f8"],["bb715921.d1bb98"]]},{"id":"bb715921.d1bb98","type":"function","z":"927d6efa.8f5a8","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":3020,"wires":[["90c142e2.46dde"]]},{"id":"90c142e2.46dde","type":"switch","z":"927d6efa.8f5a8","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":3020,"wires":[["63c43091.84b92"],["70ec7efd.4b493"]]},{"id":"63c43091.84b92","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"deny_A\", \"deny_Out\", \"allow_Out\");\n var rnd = Math.floor( Math.random() * 3);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":3020,"wires":[["3a2b53ef.f4c5fc"]]},{"id":"3a2b53ef.f4c5fc","type":"switch","z":"927d6efa.8f5a8","name":"Q14: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"deny_Out","vt":"str"},{"t":"eq","v":"allow_Out","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":3020,"wires":[["55d0bbe0.57c544"],["a0b40e38.8418f"],["7c8f4856.edf298"]]},{"id":"55d0bbe0.57c544","type":"function","z":"927d6efa.8f5a8","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3020,"wires":[["e9768d0d.312f1"]]},{"id":"e9768d0d.312f1","type":"Publish","z":"927d6efa.8f5a8","name":"Publish","device":"testNode1","login":"299e8bde.acef04","x":1700,"y":3020,"wires":[["f475ee2f.a9fc8"]]},{"id":"a0b40e38.8418f","type":"function","z":"927d6efa.8f5a8","name":"deny_Out_set","func":"msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3060,"wires":[["f70e2d7d.a206d"]]},{"id":"f70e2d7d.a206d","type":"http request","z":"927d6efa.8f5a8","name":"deny_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3060,"wires":[["8e6006a.175f1f8"]]},{"id":"7c8f4856.edf298","type":"function","z":"927d6efa.8f5a8","name":"allow_Out_set","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3100,"wires":[["c5a4be9c.85981"]]},{"id":"c5a4be9c.85981","type":"http request","z":"927d6efa.8f5a8","name":"allow_Out","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3100,"wires":[["a20b49aa.192bb8"]]},{"id":"f998b881.6c8d18","type":"function","z":"927d6efa.8f5a8","name":"Q15","func":"flow.set(\"State\", \"Q15\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":3150,"wires":[["41948cfc.0f94f4"]]},{"id":"41948cfc.0f94f4","type":"switch","z":"927d6efa.8f5a8","name":"Q15: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqOut","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":3225,"wires":[["c01b2918.28c088"],["d9bfa4c3.8dd9a8"]]},{"id":"d9bfa4c3.8dd9a8","type":"function","z":"927d6efa.8f5a8","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":3300,"wires":[["9009ce10.b54a4"]]},{"id":"9009ce10.b54a4","type":"switch","z":"927d6efa.8f5a8","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":3300,"wires":[["6c131a4b.de95a4"],["f998b881.6c8d18"]]},{"id":"6c131a4b.de95a4","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"deny_A\", \"allow_A[1]\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":3300,"wires":[["e3b3243f.6f69b8"]]},{"id":"e3b3243f.6f69b8","type":"switch","z":"927d6efa.8f5a8","name":"Q15: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"allow_A[1]","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":3300,"wires":[["91a7e03c.7d8b6"],["4cf060f5.0a9be"]]},{"id":"91a7e03c.7d8b6","type":"function","z":"927d6efa.8f5a8","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3300,"wires":[["a77c5dab.29c4a"]]},{"id":"a77c5dab.29c4a","type":"Publish","z":"927d6efa.8f5a8","name":"Publish","device":"testNode1","login":"299e8bde.acef04","x":1700,"y":3300,"wires":[["7bd92d9b.052104"]]},{"id":"4cf060f5.0a9be","type":"function","z":"927d6efa.8f5a8","name":"allow_A[1]_set","func":"msg.payload = \"allow_A[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3340,"wires":[["825b80d4.2d353"]]},{"id":"825b80d4.2d353","type":"Subscribe","z":"927d6efa.8f5a8","name":"Subscribe Device","action":"deploy","device":"testNode1","transducer":"","login":"299e8bde.acef04","x":1700,"y":3340,"wires":[["634fe8e0.50b6f8"]]},{"id":"372d9e.391e6262","type":"function","z":"927d6efa.8f5a8","name":"Q16","func":"flow.set(\"State\", \"Q16\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":3390,"wires":[["31bd3568.71f4fa"]]},{"id":"31bd3568.71f4fa","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"deny_A\", \"allow_B[1]\", \"deny_B\");\n var rnd = Math.floor( Math.random() * 3);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":3390,"wires":[["e8d1d9b2.cee128"]]},{"id":"e8d1d9b2.cee128","type":"switch","z":"927d6efa.8f5a8","name":"Q16: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"allow_B[1]","vt":"str"},{"t":"eq","v":"deny_B","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":3390,"wires":[["dfaedaa.1ee0f28"],["50abe168.ec399"],["9a6348d0.ea9e18"]]},{"id":"dfaedaa.1ee0f28","type":"function","z":"927d6efa.8f5a8","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3390,"wires":[["e94f0c18.df461"]]},{"id":"e94f0c18.df461","type":"Publish","z":"927d6efa.8f5a8","name":"Publish","device":"testNode1","login":"299e8bde.acef04","x":1700,"y":3390,"wires":[["5d218a2.ff41e74"]]},{"id":"50abe168.ec399","type":"function","z":"927d6efa.8f5a8","name":"allow_B[1]_set","func":"msg.payload = \"allow_B[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3430,"wires":[["a28a5037.3b38f"]]},{"id":"a28a5037.3b38f","type":"http request","z":"927d6efa.8f5a8","name":"allow_B[1]","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/allow_B[1]/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3430,"wires":[["f998b881.6c8d18"]]},{"id":"9a6348d0.ea9e18","type":"function","z":"927d6efa.8f5a8","name":"deny_B_set","func":"msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3470,"wires":[["ecb5a1a8.cc949"]]},{"id":"ecb5a1a8.cc949","type":"http request","z":"927d6efa.8f5a8","name":"deny_B","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9","persist":false,"x":1700,"y":3470,"wires":[["a20b49aa.192bb8"]]},{"id":"a20b49aa.192bb8","type":"function","z":"927d6efa.8f5a8","name":"Q17","func":"flow.set(\"State\", \"Q17\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"x":700,"y":3520,"wires":[["fd284567.2febd8"]]},{"id":"fd284567.2febd8","type":"switch","z":"927d6efa.8f5a8","name":"Q17: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":3595,"wires":[["372d9e.391e6262"],["78c3e250.48be6c"]]},{"id":"78c3e250.48be6c","type":"function","z":"927d6efa.8f5a8","name":"wait request (10s)","func":"var d = new Date();\n var ms = d.getTime();\n var time = flow.get(\"Time\");\n if(ms-time>10000)//10秒\n {\n    flow.set(\"boolean\", true);\n }\n else\n {\n    flow.set(\"boolean\", false);\n }\n return msg;","outputs":1,"noerr":0,"x":700,"y":3670,"wires":[["ba72627f.789d1"]]},{"id":"ba72627f.789d1","type":"switch","z":"927d6efa.8f5a8","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":3670,"wires":[["dc13ba3d.68a338"],["a20b49aa.192bb8"]]},{"id":"dc13ba3d.68a338","type":"function","z":"927d6efa.8f5a8","name":"Modifiable Area","func":"var action = new Array(\"deny_A\");\n var rnd = Math.floor( Math.random() * 1);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":900,"y":3670,"wires":[["b44b91a4.a0aa3"]]},{"id":"b44b91a4.a0aa3","type":"switch","z":"927d6efa.8f5a8","name":"Q17: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":3670,"wires":[["72b2aa36.62b8a4"]]},{"id":"72b2aa36.62b8a4","type":"function","z":"927d6efa.8f5a8","name":"deny_A_set","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":3670,"wires":[["8b483e9b.d7849"]]},{"id":"8b483e9b.d7849","type":"Publish","z":"927d6efa.8f5a8","name":"Publish","device":"testNode1","login":"299e8bde.acef04","x":1700,"y":3670,"wires":[["b0fe49bc.e22078"]]},{"id":"cc020d7a.4eea5","type":"exec","z":"72f7ec93.384e74","command":"imagesnap -w 1 \b~/Picture/demo.jpg ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":100,"wires":[[],[],["cb7299f5.adf9c8"]]},{"id":"b0e0dafe.835d48","type":"file in","z":"72f7ec93.384e74","name":"","filename":"~/Picture/demo.jpg ","format":"","chunk":false,"sendError":false,"x":340,"y":300,"wires":[["1411b4bd.87b99b"]]},{"id":"812eedfc.16d95","type":"inject","z":"72f7ec93.384e74","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":130,"y":150,"wires":[["cc020d7a.4eea5"]]},{"id":"cb7299f5.adf9c8","type":"exec","z":"72f7ec93.384e74","command":"sips -Z 640 ~/Picture/demo.jpg ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":200,"wires":[["b0e0dafe.835d48"],[],[]]},{"id":"1411b4bd.87b99b","type":"base64","z":"72f7ec93.384e74","name":"","action":"","property":"payload","x":620,"y":300,"wires":[["8e7c58a2.afb858","a6dd717e.4f929"]]},{"id":"8e7c58a2.afb858","type":"image","z":"72f7ec93.384e74","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":920,"y":320,"wires":[]},{"id":"100d5715.b1ded9","type":"Publish","z":"72f7ec93.384e74","name":"Publish","device":"testNode1","login":"3f8af5d.53ac50a","x":960,"y":460,"wires":[["b112bbb3.599878"]]},{"id":"c1a324bf.e32538","type":"Subscribe","z":"72f7ec93.384e74","name":"Subscribe Device","action":"deploy","device":"testNode1","transducer":"","login":"3f8af5d.53ac50a","x":130,"y":660,"wires":[["5b61829a.0125ac","577dba8a.ead7c4"]]},{"id":"b112bbb3.599878","type":"debug","z":"72f7ec93.384e74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":460,"wires":[]},{"id":"a6dd717e.4f929","type":"function","z":"72f7ec93.384e74","name":"","func":"function createJson(){\n    json = {\n        \"longitude\":100,\n        \"latitude\":50,\n        \"value\":msg.payload\n    }\n    return json\n}\n\nmsg.transducer = createJson();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":460,"wires":[["100d5715.b1ded9"]]},{"id":"5b61829a.0125ac","type":"function","z":"72f7ec93.384e74","name":"","func":"if(msg.payload == \"admin\"){\n    msg.payload = context.get(\"data\");\n    return msg\n}else{\n    var data = msg.payload[2][\"rawValue\"];\n    context.set(\"data\",data);\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":660,"wires":[["6ccc1ad0.c48614"]]},{"id":"9cd0579f.bf1248","type":"http in","z":"72f7ec93.384e74","name":"admin","url":"/admin","method":"get","upload":false,"swaggerDoc":"","x":90,"y":580,"wires":[["9804e619.f9e768"]]},{"id":"9804e619.f9e768","type":"change","z":"72f7ec93.384e74","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"admin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":580,"wires":[["5b61829a.0125ac"]]},{"id":"6ccc1ad0.c48614","type":"http response","z":"72f7ec93.384e74","name":"","statusCode":"","headers":{},"x":670,"y":580,"wires":[]},{"id":"43b5f76f.b72db8","type":"http in","z":"72f7ec93.384e74","name":"user","url":"/user","method":"get","upload":false,"swaggerDoc":"","x":930,"y":1140,"wires":[["a0fde336.81182"]]},{"id":"142d76a6.19d729","type":"function","z":"72f7ec93.384e74","name":"","func":"if(msg.payload == \"user\"){\n    msg.payload = context.get(\"data\");\n    return msg\n}else{\n    var data = msg.payload\n    context.set(\"data\",data);\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1260,"wires":[["27bc6ed8.d55bc2"]]},{"id":"a0fde336.81182","type":"change","z":"72f7ec93.384e74","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"user","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1140,"wires":[["142d76a6.19d729"]]},{"id":"27bc6ed8.d55bc2","type":"http response","z":"72f7ec93.384e74","name":"","statusCode":"","headers":{},"x":1370,"y":1260,"wires":[]},{"id":"c0b4f6ee.6a6758","type":"comment","z":"72f7ec93.384e74","name":"","info":"adminからのHTTPリクエストを受け取る部分","x":110,"y":520,"wires":[]},{"id":"d7ea145b.e9c988","type":"comment","z":"72f7ec93.384e74","name":"","info":"条件分岐のために，msg.payloadに\"admin\"をセット","x":310,"y":540,"wires":[]},{"id":"9a444e3b.f635e","type":"comment","z":"72f7ec93.384e74","name":"","info":"adminから入ってきた場合には，後ろにcontextに保存した画像を流して，\nSubscribe Deviceから入ってきた場合にはここに画像を保存しておく","x":450,"y":620,"wires":[]},{"id":"396e9a00.c9ed86","type":"comment","z":"72f7ec93.384e74","name":"","info":"httpレスポンスを返す","x":660,"y":540,"wires":[]},{"id":"3389818.9a94c7e","type":"comment","z":"72f7ec93.384e74","name":"","info":"10秒間に一度画像を撮影して取得する","x":90,"y":80,"wires":[]},{"id":"cd1b2909.79a628","type":"comment","z":"72f7ec93.384e74","name":"","info":"ここの３つのノードは画像を撮影して，適当なpathに画像を保存する","x":710,"y":140,"wires":[]},{"id":"edba16f.e4cf3e8","type":"comment","z":"72f7ec93.384e74","name":"","info":"バイナリバッファをbase64に変換する","x":650,"y":260,"wires":[]},{"id":"5e532c49.7ffd44","type":"comment","z":"72f7ec93.384e74","name":"","info":"base64形式の画像を，soxfireに向けて送るために変換する（割と関係ない情報が今のところは入っている）","x":740,"y":360,"wires":[]},{"id":"976a2b97.3eca28","type":"comment","z":"72f7ec93.384e74","name":"","info":"soxfireに画像を送る","x":950,"y":500,"wires":[]},{"id":"87431e55.942dc","type":"comment","z":"72f7ec93.384e74","name":"","info":"soxfireに新しい画像が上がったら，これが発動して新たな画像をとってくる","x":60,"y":760,"wires":[]},{"id":"df8bd401.8efa58","type":"http request","z":"72f7ec93.384e74","name":"post to ganonymizer","method":"POST","ret":"txt","paytoqs":"query","url":"https://notus.ht.sfc.keio.ac.jp/image","tls":"","persist":true,"proxy":"","authType":"basic","x":320,"y":1060,"wires":[["22e872cd.cfcb5e"]]},{"id":"4c88865d.3ce168","type":"function","z":"72f7ec93.384e74","name":"set headers and data pre-process","func":"msg.headers = { \n    \"Content-type\" : \"application/json\"\n} \n\nmsg.payload = \"{\\\"image\\\": \\\"${\" + msg.payload + \"}\\\"}\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1000,"wires":[["df8bd401.8efa58"]]},{"id":"22e872cd.cfcb5e","type":"function","z":"72f7ec93.384e74","name":"after process of data","func":"\n\nmsg.payload = msg.payload.substr(13);\nmsg.payload = msg.payload.replace(\"\\\"\", \"\"); \n\n//[\\\"]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1120,"wires":[["142d76a6.19d729"]]},{"id":"577dba8a.ead7c4","type":"function","z":"72f7ec93.384e74","name":"","func":"msg.payload = msg.payload[2][\"rawValue\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":860,"wires":[["4c88865d.3ce168"]]},{"id":"5c8df8f0.2859d8","type":"comment","z":"72f7ec93.384e74","name":"","info":"soxからとってきた画像を取り出すためのfunction","x":260,"y":820,"wires":[]},{"id":"4fe5988.b87b768","type":"comment","z":"72f7ec93.384e74","name":"","info":"画像にヘッダーをつけてガノニマイザーに投げて，帰ってきたデータをbase64形式に変換する","x":80,"y":1020,"wires":[]},{"id":"658a4224.a6e59c","type":"comment","z":"72f7ec93.384e74","name":"","info":"ユーザーからのHTTPリクエストのフローが流れてきた場合は画像流して，soxからフローが流れてきた場合は画像を保存する","x":1190,"y":1320,"wires":[]},{"id":"67367991.b1fe28","type":"switch","z":"284013da.155aac","name":"Q0: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"allow_Out","vt":"str"},{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"allow_A[1]","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":400,"y":250,"wires":[["41a61532.834b8c"],["764915db.94106c"],["2de34607.d296da"]]},{"id":"be7278cb.aeb928","type":"function","z":"284013da.155aac","name":"Modifiable Area","func":"var action = new Array(\"allow_Out\", \"deny_A\", \"allow_A[1]\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 4);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":382,"y":193,"wires":[["67367991.b1fe28"]]},{"id":"41a61532.834b8c","type":"function","z":"284013da.155aac","name":"action = event_A","func":"msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":623,"y":200,"wires":[["da6a61fa.19d1a"]]},{"id":"764915db.94106c","type":"function","z":"284013da.155aac","name":"action = event_B","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":623,"y":250,"wires":[["582a79e8.ba8d08"]]},{"id":"2de34607.d296da","type":"function","z":"284013da.155aac","name":"action = event_C","func":"msg.payload = \"allow_A[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":623,"y":300,"wires":[["e27ecb2f.8d1d88"]]},{"id":"11c8ccfe.691a73","type":"function","z":"284013da.155aac","name":"Q0","func":"flow.set(\"State\", \"Q6\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":193,"wires":[["be7278cb.aeb928"]]},{"id":"da6a61fa.19d1a","type":"http request","z":"284013da.155aac","name":"event_A","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9","tls":"","persist":false,"proxy":"","authType":"","x":793,"y":200,"wires":[["da5f2be8.83d128"]]},{"id":"582a79e8.ba8d08","type":"http request","z":"284013da.155aac","name":"event_B","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","tls":"","persist":false,"proxy":"","authType":"","x":793,"y":250,"wires":[["d056b26.484bf5"]]},{"id":"e27ecb2f.8d1d88","type":"http request","z":"284013da.155aac","name":"event_C","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/allow_A[1]/with/key/cPFBtMhxOsUhT968fhqXb9","tls":"","persist":false,"proxy":"","authType":"","x":793,"y":300,"wires":[["2411c1c4.2aaf1e"]]},{"id":"2411c1c4.2aaf1e","type":"function","z":"284013da.155aac","name":"Q3","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":933,"y":300,"wires":[[]]},{"id":"d056b26.484bf5","type":"function","z":"284013da.155aac","name":"Q2","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":933,"y":250,"wires":[[]]},{"id":"da5f2be8.83d128","type":"function","z":"284013da.155aac","name":"Q1","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":933,"y":200,"wires":[[]]},{"id":"a7ae4d91.fa828","type":"switch","z":"284013da.155aac","name":"Q0: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"eq","v":"reqEnter_A","vt":"str"},{"t":"else"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":500,"wires":[["e4dc582d.b6d0b8"],["7dcc6aa6.55b9a4"],["8fdd9d11.88027"],["356169a2.ace346"]]},{"id":"a0f82309.255d1","type":"function","z":"284013da.155aac","name":"Q0","func":"flow.set(\"State\", \"Q6\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":500,"wires":[["a7ae4d91.fa828"]]},{"id":"8fdd9d11.88027","type":"function","z":"284013da.155aac","name":"Q3","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":550,"wires":[[]]},{"id":"7dcc6aa6.55b9a4","type":"function","z":"284013da.155aac","name":"Q2","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":500,"wires":[[]]},{"id":"e4dc582d.b6d0b8","type":"function","z":"284013da.155aac","name":"Q1","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":450,"wires":[[]]},{"id":"356169a2.ace346","type":"delay","z":"284013da.155aac","name":"delay 100ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":592,"wires":[["a0f82309.255d1"]]},{"id":"ccce6e9e.dabd5","type":"switch","z":"284013da.155aac","name":"Q0: check request","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"reqEnter_B","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":850,"wires":[["fadb9f34.738e2"],["84f502a3.cfd79"]]},{"id":"f91cd6e4.edafc8","type":"function","z":"284013da.155aac","name":"Q0","func":"flow.set(\"State\", \"Q6\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":850,"wires":[["ccce6e9e.dabd5"]]},{"id":"fadb9f34.738e2","type":"function","z":"284013da.155aac","name":"Q1","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":942,"y":843,"wires":[[]]},{"id":"84f502a3.cfd79","type":"switch","z":"284013da.155aac","name":"check passing time","property":"action","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":924,"wires":[["f91cd6e4.edafc8"],["f820ad33.21305"]]},{"id":"e55937fa.a031e8","type":"switch","z":"284013da.155aac","name":"Q0: check operation","property":"action","propertyType":"flow","rules":[{"t":"eq","v":"deny_A","vt":"str"},{"t":"eq","v":"allow_A[1]","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":1027,"wires":[["61595725.6da1e8"],["9266edf0.b07c9"]]},{"id":"f820ad33.21305","type":"function","z":"284013da.155aac","name":"Modifiable Area","func":"var action = new Array(\"allow_Out\", \"deny_A\", \"allow_A[1]\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 4);\n flow.set(\"action\", action[rnd]);\n return msg;","outputs":1,"noerr":0,"x":380,"y":977,"wires":[["e55937fa.a031e8"]]},{"id":"61595725.6da1e8","type":"function","z":"284013da.155aac","name":"action = event_B","func":"msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":1003,"wires":[["c1ca1a09.0ceec8"]]},{"id":"9266edf0.b07c9","type":"function","z":"284013da.155aac","name":"action = event_C","func":"msg.payload = \"allow_A[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":1053,"wires":[["1757d103.953b0f"]]},{"id":"c1ca1a09.0ceec8","type":"http request","z":"284013da.155aac","name":"event_B","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":1003,"wires":[["950c2a9.f0735d8"]]},{"id":"1757d103.953b0f","type":"http request","z":"284013da.155aac","name":"event_C","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/allow_A[1]/with/key/cPFBtMhxOsUhT968fhqXb9","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":1053,"wires":[["4a7bdf3a.82831"]]},{"id":"4a7bdf3a.82831","type":"function","z":"284013da.155aac","name":"Q3","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1053,"wires":[[]]},{"id":"950c2a9.f0735d8","type":"function","z":"284013da.155aac","name":"Q2","func":"flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1003,"wires":[[]]}]