M-Sec_Translator/node-data.txt
[
    {
        "id": "bb58c10e.f5f8d",
        "type": "tab",
        "label": "フロー 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fa8ccff.0fea33",
        "type": "function",
        "z": "bb58c10e.f5f8d",
        "name": "",
        "func": "msg.payload = global.get(\"data\");\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "c8605c43.a4a79"
            ]
        ]
    },
    {
        "id": "59c3cda8.8fe824",
        "type": "http in",
        "z": "bb58c10e.f5f8d",
        "name": "admin",
        "url": "/admin",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "fa8ccff.0fea33"
            ]
        ]
    },
    {
        "id": "c8605c43.a4a79",
        "type": "http response",
        "z": "bb58c10e.f5f8d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "99fbee4.cbd121",
        "type": "http in",
        "z": "bb58c10e.f5f8d",
        "name": "user",
        "url": "/user",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "677dd94d.9d3848"
            ]
        ]
    },
    {
        "id": "677dd94d.9d3848",
        "type": "function",
        "z": "bb58c10e.f5f8d",
        "name": "",
        "func": "msg.payload = global.get(\"data\");\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "1f9cd382.16b34c"
            ]
        ]
    },
    {
        "id": "157258dd.6b2237",
        "type": "function",
        "z": "bb58c10e.f5f8d",
        "name": "after process of data",
        "func": "\n\nmsg.payload = msg.payload.substr(13);\nmsg.payload = msg.payload.replace(\"\\\"\", \"\"); \n\n//[\\\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1060,
        "y": 260,
        "wires": [
            [
                "ff57dce0.cd08a"
            ]
        ]
    },
    {
        "id": "64aefc8b.948bc4",
        "type": "http request",
        "z": "bb58c10e.f5f8d",
        "name": "post to ganonymizer",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://notus.ht.sfc.keio.ac.jp/image",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "basic",
        "x": 820,
        "y": 260,
        "wires": [
            [
                "157258dd.6b2237"
            ]
        ]
    },
    {
        "id": "1f9cd382.16b34c",
        "type": "function",
        "z": "bb58c10e.f5f8d",
        "name": "set headers and data pre-process",
        "func": "msg.headers = { \n    \"Content-type\" : \"application/json\"\n} \n\nmsg.payload = \"{\\\"image\\\": \\\"${\" + msg.payload + \"}\\\"}\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "64aefc8b.948bc4"
            ]
        ]
    },
    {
        "id": "ff57dce0.cd08a",
        "type": "http response",
        "z": "bb58c10e.f5f8d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1250,
        "y": 260,
        "wires": []
    },
    {
        "id": "c5b76b60.d357f8",
        "type": "Subscribe",
        "z": "bb58c10e.f5f8d",
        "name": "Subscribe Device",
        "action": "deploy",
        "device": "testNode1",
        "transducer": "",
        "login": "3f8af5d.53ac50a",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "12e1d716.d644f9"
            ]
        ]
    },
    {
        "id": "12e1d716.d644f9",
        "type": "function",
        "z": "bb58c10e.f5f8d",
        "name": "",
        "func": "global.set(\"data\", msg.payload[2][\"rawValue\"])",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3f8af5d.53ac50a",
        "type": "sox-credentials",
        "nickname": "Sample",
        "bosh": "http://ssm-soxfire.ht.sfc.keio.ac.jp:5280/http-bind/",
        "xmpp": "ssm-soxfire.ht.sfc.keio.ac.jp"
    }
]